{
    "root": true,
    "plugins": [
      "prettier"
    ],
    "extends": [
      "eslint:recommended",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": 2 ,
      "no-use-before-define": ["error", { "functions": true, "classes": true }],
      "no-var": "error",
      "prefer-const": "error"
    },
    "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
    "parserOptions": {
      "ecmaVersion": 2017, // Allows for the parsing of modern ECMAScript features
      "sourceType": "module" // Allows for the use of imports
    },
    "env": {
      "node": true,
      "es6": true
    }
}
